table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #007BFF;
}

td {
    width: 60px;
    height: 60px;
    border: 2px solid #FFF;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    padding: 5px;
}

td:hover .empty {
    background-color: rgba(255, 255, 255, 0.2);
}

.empty, .player-one, .player-two, .special-disc {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty {
    background-color: white;
}

.player-one {
    background-color: #FF4136;
    box-shadow: 0 0 10px 2px #FF4136;
}

.player-two {
    background-color: #FFDC00;
    box-shadow: 0 0 10px 2px #FFDC00;
}

p.heavy {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold;
}

.special-disc {
    background-color: grey;
    box-shadow: 0 0 10px 2px grey;
}

.rules {
    padding: 10px;
}