table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #007BFF;
}

td {
    width: 60px;
    height: 60px;
    border: 2px solid #FFF;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    padding: 5px;
}

td:hover .empty {
    background-color: rgba(255, 255, 255, 0.2);
}

.empty, .player-one, .player-two {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty {
    background-color: white;
}

.player-one {
    background-color: #FF4136;
    box-shadow: 0px 0px 10px 2px #FF4136;
}

.player-two {
    background-color: #FFDC00;
    box-shadow: 0px 0px 10px 2px #FFDC00;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}


.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.button-group button {
    background-color: #007BFF;
    border: 1px solid #FFF;
    color: white;
    text-align: center;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-group button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}