.lobby-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 10px;

    margin: 0;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
    padding-inline: 10px;
}

.lobby-game {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 10px;

    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.join-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    grid-column: 1 / span 2;
}